html {
  background-color: #191b1c;
  border-bottom-color: rgb(115, 107, 94);
  border-left-color: rgb(115, 107, 94);
  border-right-color: rgb(115, 107, 94);
  border-top-color: rgb(115, 107, 94);
  color: rgb(232, 230, 227);
  color-scheme: light;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  color: white;
}

body, html {
  touch-action: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

canvas {
  margin: 0px;
  border-width: 2px;
  border-color: darkgray;
  border-style: ridge;
  border-radius: 3px;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  object-fit: none;
  user-select: none;
  -webkit-touch-callout: none; /* Disable the callout on iOS */
  -webkit-user-select: none;   /* Disable text selection on iOS */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Remove tap highlight */
  touch-action: none; /* Disable default touch actions like zooming */
}

video {
  margin: 5px;
  border-width: 3px;
  border-color: rgb(77, 7, 105);
  border-style: ridge;
  width: 200px;
  height: 130px;
}
