html {
  background-color: rgb(148, 69, 160);
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: blanchedalmond;
}

p {
  color: blanchedalmond;
}

button {
  margin: 5px;
}

canvas {
  margin: 5px;
  border-width: 3px;
  border-color: rgb(77, 7, 105);
  border-style: ridge;
}

video {
  margin: 5px;
  border-width: 3px;
  border-color: rgb(77, 7, 105);
  border-style: ridge;
  width: 200px;
  height: 130px;
}
