html {
  /* background-color: rgb(24, 26, 27); */
  background-color: aliceblue;
  border-bottom-color: rgb(115, 107, 94);
  border-left-color: rgb(115, 107, 94);
  border-right-color: rgb(115, 107, 94);
  border-top-color: rgb(115, 107, 94);
  color: rgb(232, 230, 227)
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* color: blanchedalmond; */
  color: black;
}

p {
  /* color: blanchedalmond; */
  color: rgb(30, 46, 63);
}

button {
  margin: 5px;
}

canvas {
  margin: 5px;
  border-width: 2px;
  border-color: rgb(77, 7, 105);
  border-style: ridge;
}

video {
  margin: 5px;
  border-width: 3px;
  border-color: rgb(77, 7, 105);
  border-style: ridge;
  width: 200px;
  height: 130px;
}
