.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
}

.cell {
    background-color: lightblue;
    border: dotted 1px blue;
}

body {
    background-color: steelblue;
}
